<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  配置 bean  -->
    <bean id="bookDao" class="com.cunyu.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="com.cunyu.service.impl.BookServiceImpl">
        <!-- property 表示配置当前 Bean 的属性
             name 表示配置哪一个具体的属性
             ref 表示参照的 Bean
             -->
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>
